<!-- My login template -->
{%extends 'base.html' %}

{% block add_css_styles %}
<style>
    div#unique{
        width: 30%;
        margin-top: 50px;
        }
</style>
{% endblock %}

{% block main %}
<div class="container" id="unique">
    {% with messages = get_flashed_messages() %}
        {% if  messages[0]%}
            {{ messages[0]|safe }}
        {% endif %}
    {% endwith %}

    <!-- Добавить id в form, убрать action- перенести в JS, method убрать -->
    <form class="form-signin" id="form" method="post" action="">
         <h1 class="h3 mb-3 font-weight-normal">Вход в систему</h1>
      {{ response.params.form.name }}
      {{ response.params.form.password }}
      {{ response.params.form.checkbox()}} {{ response.params.form.checkbox.label (class="checkbox mb-3") }}
      {{ response.params.form.submit }}
      <p class="mt-5 mb-3 text-muted">© 2020 - 2021</p>
    </form>
</div>
{% endblock %}

