<!-- My signup template -->
{%extends 'base.html' %}

{% block add_css_styles %}
<style>
    div#unique{
        width: 30%;
        margin-top: 50px;
        }
</style>
{% endblock %}

{% block main %}
<div class="container" id="unique">
    {% with messages = get_flashed_messages() %}
        {% if  messages[0]%}
            {{ messages[0]|safe }}
        {% endif %}
    {% endwith %}
     <form class="form-signin" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Введите логин и пароль</h1>
         {{ form.username }}
         {{ form.password }}
         {{ form.password_repeat }}
         {{ form.submit }}
         <p class="mt-5 mb-3 text-muted">© 2020 - 2021</p>
    </form>
</div>

{% endblock %}

